#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    color: ;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #201E1F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    background-color: #FFFFFF;
    /*background-image: url(../images/logo_Black.jpg);
    background-repeat: no-repeat;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/*  --- Modificados --- */

.accordion-container{
    padding-top: 2em;
}

.panel-default > .sidebar-panel-heading {
    color: #FFFFFF !important;
    background-color: #201E1F !important;
    border-color: #201E1F !important;
}

.sidebar-panel-default{
    border-color: #201E1F;
    cursor: pointer;
}

.sidebar-panel-heading:hover{
    background-color: #4c4a4b !important;
    color: #FECD2A !important;
    cursor: pointer !important;
}

.sidebar-panel-body{
    background-color: #4c4a4b !important;
    border-top: none !important;
}

.sidebar-button{
    background-color: #c9a530;
    color: #FFFFFF;
    text-align: justify;
}

.sidebar-button:hover{
    background-color: #FECD2A;
    color: #000000;
    text-align: justify;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}
.sidebar-image {
    margin-left: -20px !important;
    cursor: pointer;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #FECD2A;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 2.5em;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #FECD2A;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #FECD2A;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}