<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<strong>
				<a class="navbar-brand" href="/#">Ideas Arquitect&oacute;nicas y Constructivas s.a.s.</a>
			</strong>
		</div>
	</div>
</nav>

<div class="container">
	<div class="col-md-12">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
				<img src="images/logo.jpg" alt="..." width="1000px" height="800px">
					<div class="carousel-caption">
						some caption 1
					</div>
				</div>
				<div class="item">
					<img src="images/logo_Black.jpg" alt="..." width="1000px" height="800px">
					<div class="carousel-caption">
						Some caption 2
					</div>
				</div>
				<div class="item">
					<img src="images/underconstruction.jpg" alt="..." width="1000px" height="800px">
					<div class="carousel-caption">
						Some caption 3
					</div>
				</div>
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>