<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ideas Arquitect&oacute;nicas y Constructivas s.a.s.</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#/test">Test App</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">


  <!-- Wrapper for slides -->
  <div class="col-md-12">
    <div class="col-md-6">

      <div class="col-md-12 logueContainer">
        <img src="images/logo_Black.jpg" alt="ideaarq" width="100%" height="100%">
      </div>

    </div>

    <div class="col-md-6">

      <div class="col-md-6">
        <div class="thumbnail">
          <img src="images/user.png" alt="">
          <div class="caption">
            <h3>Leonardo Guevara</h3>
            <p>Gerente</p>
            <p>
              <a href="#/">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
              </a>
              <a href="#/" >
                <span class="label label-primary phone-label">311 513 64 98</span>
              </a>
            </p>
            <p>
              <a href="#/">
                <span class="glyphicon" aria-hidden="true">@</span>
              </a>
              <a href="#/" >
                <span class="label label-default phone-label">lguevara@ideaarq.com</span>
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="thumbnail">
          <img src="images/user.png" alt="">
          <div class="caption">
            <h3>Diego Rodr&iacute;guez</h3>
            <p>Director De Proyectos</p>
            <p>
              <a href="#/">
                <span class="glyphicon glyphicon-phone " aria-hidden="true"></span>
              </a>
              <a href="#/" >
                <span class="label label-primary phone-label">313 395 15 69</span>
              </a>
            </p>
            <p>
              <a href="#/">
                <span class="glyphicon" aria-hidden="true">@</span>
              </a>
              <a href="#/" >
                <span class="label label-default phone-label">drodriguez@ideaarq.com</span>
              </a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

<!-- modal -->
<div id="constructionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="gridSystemModalLabel">Sitio en Construcci&oacute;n</h2>
      </div>
      <div class="modal-body">
        <img src="images/underconstruction.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>
